.env
node_modules
mlops_loan_approval_classification.egg-info

__pycache__

savvy-surge-448015-g4-62cc397bc79b.json

.terraform
.terraform.lock.hcl
.terraform.tfstate.lock.info
terraform.tfstate
terraform.tfstate.backup

mlprod.egg-info